<% provide :title, "All Specialist" %>
<h1>Listing specialists</h1>

<table class="table">
  <tr>
    <th>Special ID</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @specialists.each do |specialist| %>
  <tr>
    <td><%= link_to specialist.id, specialist, :class => "btn" %></td>
    <td><%= link_to 'Edit', edit_specialist_path(specialist), :class => 'btn' %></td>
    <td><%= link_to 'DELETE', specialist, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn' %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Specialist', new_specialist_path %>
