<p id="notice"><%= notice %></p>

<p>
  <b>Carts:</b>
  <%= @carts_product.carts_id %>
</p>

<p>
  <b>Quantity:</b>
  <%= @carts_product.quantity %>
</p>

<p>
  <b>Products:</b>
  <%= @carts_product.products_id %>
</p>

